#section_2{
    display: flex;
    justify-content: center;
    padding: 75px 15px;
    line-height:1.3rem;
  }
  .section2__photo1{
    max-width: 100%;

  }
  .section2__title{
    text-align: right;
    padding-right: 15px;
    margin-bottom: 25px;
  }
  #section_2 section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  
  .column {
    margin: 10px;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0;
    text-align: center;
  }

  p{
    text-align: justify;
  }
  .social{
    display: inline-flex;
  }