#section_1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 75px;
}

.home__text{
    margin-top: -150px;
}

#section_1 h1{
    padding: 1px 1px;
}

#section_1 .section-1__button{
    margin: 10px 100px;
}