#navBar{
    width: 100%;
}

.navigation__link{
    color: white;
    transition: color 0.5s;
    padding: 0 0.5rem;
    cursor: pointer;
}

.navigation__link:hover,
.navigation__link:active{
    color: lightgrey;
}