.featured-blog-post__author{
    font-weight: 300;
    font-style: italic;
    font-size: 0.9em;
}

.featured-blog-post__content{
    margin-bottom: 35px;
}
.recent-posts-section{
    margin-bottom: 50px;
}
.recent-posts-section-title{
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 5px;
}

#recent-posts .recent-posts .recent-posts__post-link{
    color: inherit;
    transition: color .5s;
    text-decoration: underline;
}

#recent-posts .recent-posts__post-link:hover{
    color: gray;
}