.featured-blog-post__author{
    font-weight: 300;
    font-style: italic;
    font-size: 0.9em;
}

.featured-blog-post__content{
    margin-bottom: 25px;
}
.recent-posts-section{
    margin-bottom: 50px;
}
.recent-posts-section-title{
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 5px;
}
